on early-init && property:ro.bootmode=mot-factory
   insmod /vendor/lib/modules/moto_f_usbnet.ko

on early-init
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules mmi_annotate.ko mmi_info.ko watchdog_cpu_ctx.ko tzlog_dump.ko

on mmi-priority
   # Only high priority MMI DLKMs loaded here
   # For instance, sensor_class referenced from several DLKMs
   # and needs to load first. Touchscreen might need extra time
   # to perform firmware update if necessary
   setprop vendor.mmi_init.stage priority
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules sensors_class.ko touchscreen_mmi.ko sec_mmi.ko synaptics_mmi.ko synaptics_dsx_fw_update.ko synaptics_dsx_rmi_dev.ko synaptics_dsx_test_reporting.ko

on fs
   # Majority of MMI DLKMs should be in this group
   setprop vendor.mmi_init.stage common
   insmod /vendor/lib/modules/aw8697.ko
   #insmod /vendor/lib/modules/mmi_sys_temp.ko
   insmod /vendor/lib/modules/fpc1020_mmi.ko
   # Must insert FG driver before charging driver
   insmod /vendor/lib/modules/bq27426_fg_mmi.ko
   insmod /vendor/lib/modules/qpnp-smbcharger-mmi.ko
   insmod /vendor/lib/modules/qpnp-power-on-mmi.ko
   insmod /vendor/lib/modules/slg51000.ko
   insmod /vendor/lib/modules/st21nfc.ko
   insmod /vendor/lib/modules/sx933x_sar.ko
   insmod /vendor/lib/modules/stmvl53l1.ko
   insmod /vendor/lib/modules/qpnp_adaptive_charge.ko

   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules cirrus_irq-madera arizona-ldo1 arizona-micsupp gpio-madera madera-pinctrl cirrus_cs35l41 cirrus_cs35l41-i2c cirrus_cs35l41-spi cirrus_cs47l35 cirrus_madera-core cirrus_madera extcon-madera aov_trigger cirrus_wm_adsp

on post-fs
    # Change ownership and permision of st nfc device
    chown nfc nfc /dev/st21nfc
    chmod 0660 /dev/st21nfc

on post-fs-data
   # Load DLKM that can afford being loaded later
   setprop vendor.mmi_init.stage late
   start vendor.mmi_modules
   wait_for_prop init.svc.vendor.mmi_modules stopped
   setprop vendor.mmi_init.stage complete

   # Change permission for fingerprint sensor
   chown system vendor_tcmd /sys/devices/platform/soc/soc:fpc_fpc1020/nav
   chown system vendor_tcmd /sys/devices/platform/soc/soc:fpc_fpc1020/dev_enable
   chown system vendor_tcmd /sys/devices/platform/soc/soc:fpc_fpc1020/irq
   chown system vendor_tcmd /sys/devices/platform/soc/soc:fpc_fpc1020/irq_cnt
   chmod 0440 /sys/devices/platform/soc/soc:fpc_fpc1020/irq_cnt

on boot
   # change permission for capsensor
   chown system system /sys/class/capsense/reset
   chown system system /sys/class/capsense/int_state
   # Change ownership for capsensor
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch0/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch0/poll_delay
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch1/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch1/poll_delay
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch2/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch2/poll_delay
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch3/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch3/poll_delay
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch4/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch4/poll_delay

   #Add for laser
   chown system system sys/class/laser/stmvl53l1/enable_sar
   chmod 0660 sys/class/laser/stmvl53l1/enable_sar
   chown system system sys/class/laser/stmvl53l1/set_delay_ms
   chmod 0660 sys/class/laser/stmvl53l1/set_delay_ms
   chown system system sys/class/laser/stmvl53l1/autonomous_config
   chmod 0660 sys/class/laser/stmvl53l1/autonomous_config
   chown system system sys/class/laser/stmvl53l1/enable_ps_sensor
   chmod 0660 sys/class/laser/stmvl53l1/enable_ps_sensor
   chown system system sys/class/laser/stmvl53l1/do_flush
   chmod 0660 sys/class/laser/stmvl53l1/do_flush
   chown system /sys/devices/virtual/laser/stmvl53l1/enable_sar
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/enable_sar
   chown system /sys/devices/virtual/laser/stmvl53l1/set_delay_ms
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/set_delay_ms
   chown system /sys/devices/virtual/laser/stmvl53l1/do_flush
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/do_flush
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/autonomous_config
   chown system /sys/devices/virtual/laser/stmvl53l1/autonomous_config
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/enable_ps_sensor
   chown system /sys/devices/virtual/laser/stmvl53l1/enable_ps_sensor
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/timing_budget
   chown system /sys/devices/virtual/laser/stmvl53l1/timing_budget
   chown system system /sys/devices/virtual/input/input1/timing_budget
   chmod 0660 /sys/devices/virtual/input/input1/timing_budget
   chmod 0664 /mnt/vendor/persist/camera/focus/offset_cal
   chmod 0664 /mnt/vendor/persist/camera/focus/cal_data

   # Change ownership and permission for RGB leds
   chown system system /sys/class/leds/charging/brightness
   chown system system /sys/class/leds/charging/breath
   chown system system /sys/class/leds/charging/delay_on
   chown system system /sys/class/leds/charging/delay_off
   chmod 0664 /sys/class/leds/charging/brightness
   chmod 0664 /sys/class/leds/charging/breath
   chmod 0664 /sys/class/leds/charging/delay_on
   chmod 0664 /sys/class/leds/charging/delay_off

   chmod 0660 /dev/cci_intf
   chown system camera /dev/cci_intf

   # change permission for adaptive charging
   chown system system /sys/module/qpnp_adaptive_charge/parameters/upper_limit
   chown system system /sys/module/qpnp_adaptive_charge/parameters/lower_limit

on boot && property:ro.bootmode=qcom
    start vendor.stop_5g_thermal

on property:ro.vendor.hw.dualsim=*
    exec_start vendor.mmi_multisimconfig
    setprop persist.radio.multisim.config ""
    setprop persist.radio.multisim.config ${persist.vendor.radio.multisim.config}

on property:init.svc.vendor.mmi_multisimconfig=stopped
    start vendor.stflashtool

service vendor.stflashtool /vendor/bin/STFlashTool -c /vendor/etc/st21nfc_conf.txt -P vendor.nfc.fw_status
    group nfc
    user nfc
    oneshot
    disabled

service vendor.mmi_multisimconfig /vendor/bin/init.mmi.multisimconfig.sh
    user root
    oneshot
    disabled

service vendor.mmi_modules /vendor/bin/init.mmi.modules.sh
    user root
    oneshot
    disabled

service capsense_reset /system/vendor/bin/capsense_reset
   class core
   user system
   group system input
   disabled

on property:sys.boot_completed=1
    start capsense_reset

service vendor.vl53l1_daemon /vendor/bin/vl53l1_daemon
    class late_start
    user root
    group root
    socket vl53l1_daemon stream 660 root system

service vendor.mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot

# Turn on led to indicate device on in factory mode
on fs && property:ro.bootmode=mot-factory
    write /sys/class/leds/charging/brightness 50

service vendor.stop_5g_thermal /vendor/bin/stop_5g_thermal.sh
    user root
    oneshot
    disabled

on property:persist.vendor.stop_5g_thermal=1
    start vendor.stop_5g_thermal
